
__pycache__/
*.py[cod]
*$py.class
*.pyo
*.pyd

*.log
*.pot
*.pyc
*.sqlite3
db.sqlite3
media/
staticfiles/

.env
*.env
venv/
env/
ENV/

node_modules/
www/build/
www/platforms/
www/plugins/
dist/
build/

hooks/
platforms/
plugins/
merges/

*.dockerfile
Dockerfile*
docker-compose.override.yml
docker-compose.local.yml
.env.docker

.vscode/
.idea/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db

*.shp
*.shx
*.dbf
*.prj
*.cpg
